.bottom-corner {
  width: 100%;
  position: absolute;
  bottom: 42px;
  left: 0;
  justify-content: left !important;      
  height: 22px !important;
  line-height: 22px;
  font-size: 14px;
  vertical-align: middle;
  text-align: left;
  z-index: 1050;      
}

.leaflet-top, .leaflet-bottom {
  z-index: 2000 !important;
  bottom: -5px !important;
}
