  <ons-action-sheet id="connections-sheet" cancelable title="Aergo Connect">
  
    <ons-action-sheet-button icon="fa-network-wired" onclick="window.dapp.aergoConnect(true)" modifier="destructive">Aergo (Web Node)</ons-action-sheet-button>
    <!--ons-action-sheet-button icon="fa-laptop" disabled onclick="window.dapp.aergoConnect()">Aergo RPC Local Node)</ons-action-sheet-button-->    
    <ons-action-sheet-button icon="fa-ban" onclick="dapp.hideConnection()">Cancel</ons-action-sheet-button>
    
  </ons-action-sheet>
