<ons-page id="Create-Event">
  <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">Create Event</div>
  </ons-toolbar>

  <ons-card>
  <p>
    Past the Wikipedia article link relating to the event you want to create:
   </p>
   
   <ons-input type="url" id="event-media" placeholder="Wikipedia Article link" float style="width: 100%"></ons-input>
  
  <ons-list>
    
    <p>
      How many <b>BOARDS token</b> do you want to invest in your event <b>per hour</b>?
    </p>   

    <ons-list-item tappable>
      <label class="left">
        <ons-radio name="mv-1" input-id="radio-1" checked></ons-radio>
      </label>
      <label for="radio-1" class="center">
        Minimum possible per hour
      </label>
    </ons-list-item>
    <ons-list-item tappable>
      <label class="left">
        <ons-radio name="mv-1" input-id="radio-2" onclick="other_value();"></ons-radio>
      </label>
      <label for="radio-2" class="center" id="other-value">
        Other value per hour
      </label>
    </ons-list-item>
</ons-list>
    
    <p>
    How many hours will the event last?
   </p>
   
      
    <ons-row style="margin-top: 20px;">
      <ons-col>
        <ons-range style="width: 100%;" min="3" max="36" value="3" id="event-token" onchange='span_hours()'></ons-range>
      </ons-col>
      <ons-col width="80px" style="text-align: center; line-height: 31px;">        
        <span id='hours'>3 hours</span>        
      </ons-col>
    </ons-row>
    
    <p>
      
      
      
    </p>
    
    <p>
      Total investment:&nbsp;<b>40.48855 BOARDS</b>
    </p>
    
    <ons-button modifier="large">SUBMIT EVENT</ons-button>
  
    </ons-card>
  
    <ons-bottom-toolbar style="z-index:1000;">
    <ons-row style="line-height:40px;">
      <ons-col width="100%">
        Connected data       
      </ons-col>            
   </ons-row>
  </ons-bottom-toolbar>
  
  
  <script>
           
    document.querySelector('ons-back-button').onClick = function(event) {
      window.dapp.load('templates/global.html')
    };    
    
    function other_value() {
    
     localforage.getItem('cfactor').then(function(value) {
        if(typeof(value) == "number") {
           ons.notification.prompt({
            message: 'Enter how many BOARDS token you want to invest per hour in your event:',
            inputType: 'number',
             title: 'Enter value',
             cancelable: true,
             placeholder: value,
            defaultValue: value
           }).then(function(v) {
              if (v<value) {
                ons.notification.alert('Value must be greater than or equal to ' + value);
                document.getElementById("radio-1").checked = true;
              } else document.getElementById("other-value").innerHTML = v + "&nbsp;BOARDS<b>/hr</b>";
          });
        } else {
          ons.notification.alert('Current value out of date.');
          document.getElementById("radio-1").checked = true;
        }
    });    
      
    }
    
     function span_hours(){
        
         document.getElementById("hours").innerHTML = document.getElementById("event-token").value + '&nbsp;hours';
        
      }
    
  </script>
  
</ons-page>
