<ons-page id="Create-Event">
  <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">Create Event</div>
  </ons-toolbar>

  <ons-card>
  <p>
    Past the Wikipedia article link relating to the event you want to create:
   </p>
   
   <ons-input type="url" placeholder="Wikipedia Article link" oninput="wiki(this.value)" style="width: 100%"></ons-input>
  
  <ons-list>
    
    <ons-list-item id="wiki-required" style="display:none;color:red;">
        <span class="list-item__title" id="wiki-article">Paste Wikipedia Article link above</span>
    </ons-list-item>
    <ons-list-item id="wiki-example" style="display:none;color:green;">
        <span class="list-item__title" id="wiki-article"></span><span class="list-item__subtitle">English Wikipedia</span>
    </ons-list-item>
    <ons-list-item id="wiki-notfound" style="display:none;">
        <span class="list-item__title" id="wiki-article" style="color:red">Article Not Found!</span><span class="list-item__subtitle">English Wikipedia</span>
    </ons-list-item>
    <ons-list-item id="wiki-invalid" style="display:none;color:red;">
      Invalid article content
    </ons-list-item>
    
    <p>
      How many <b>AERGO</b> do you want to invest in your event <b>per hour</b>?
    </p>   

    <ons-list-item tappable>
      <label class="left">
        <ons-radio name="mv-1" input-id="radio-1" checked></ons-radio>
      </label>
      <label for="radio-1" class="center">
        Minimum possible per hour
      </label>
    </ons-list-item>
    <ons-list-item tappable>
      <label class="left">
        <ons-radio name="mv-1" input-id="radio-2" onclick="other_value();"></ons-radio>
      </label>
      <label for="radio-2" class="center" id="other-value">
        Other value per hour
      </label>
    </ons-list-item>
</ons-list>
    
    <p>
    How many hours will the event last?
   </p>
   
      
    <ons-row style="margin-top: 20px;">
      <ons-col>
        <ons-range style="width: 100%;" min="3" max="36" value="3" id="event-token" onchange='span_hours()'></ons-range>
      </ons-col>
      <ons-col width="80px" style="text-align: center; line-height: 31px;">        
        <span id='hours'>3 hours</span>        
      </ons-col>
    </ons-row>
       
    <p>
      Total investment:&nbsp;<b>40.48855 BOARDS</b>
    </p>
    
    <ons-button modifier="large--quiet" id="submit-event" disabled>SUBMIT EVENT</ons-button>
  
    </ons-card>
  
    <ons-bottom-toolbar style="z-index:1000;" id="bottom">
      <ons-row style="line-height:40px;">
        <ons-col width="100%">
          <ons-toolbar-button onclick="window.dapp.load('templates/global.html');dapp.interfaceConnection()"></ons-toolbar-button>
          <span data-placeholder=""><span>
        </ons-col>            
     </ons-row>
    </ons-bottom-toolbar>

    <div class="toolbar--material bottom-corner" id="claimable" data-placeholder="..." style="visibility:hidden;bottom:0!important;" ></div>
  
  
  <script>
           
    document.querySelector('ons-back-button').onClick = function(event) {
      window.dapp.load('templates/global.html')
    };    
    
    function other_value() {
    
     localforage.getItem('cfactor').then(function(value) {
        if(typeof(value) == "number") {
           ons.notification.prompt({
            message: 'Enter how many AERGO you want to invest per hour in your event:',
            inputType: 'number',
             title: 'Enter value',
             cancelable: true,
             placeholder: value,
            defaultValue: value
           }).then(function(v) {
              if (v<value) {
                ons.notification.alert('Value must be greater than or equal to ' + value);
                document.getElementById("radio-1").checked = true;
              } else document.getElementById("other-value").innerHTML = v + "&nbsp;AERGO<b>/hr</b>";
          });
        } else {
          ons.notification.alert('Current value out of date.');
          document.getElementById("radio-1").checked = true;
        }
    });    
      
    }
    
     function span_hours(){
        
         document.getElementById("hours").innerHTML = document.getElementById("event-token").value + '&nbsp;hours';
        
      }
    
      async function wiki(ctn) {       
       
        let match = /^https\:\/\/en\.wikipedia\.org\/wiki\/([\_A-Za-z0-9\.\,\-\(\)]+)/g.exec(ctn);
        if (match) { // valid         
          
          if (!window.profanity(match[1])) {

            let b64 = btoa(match[1]);

            const resp = await fetch('https://en.wikipedia.org/w/api.php?'+window.encodeQueryData({"action":"parse","format":"json","origin":"*","prop":"text","formatversion":2,"page":decodeURIComponent(escape(window.atob(b64)))}));
            const respjson = await resp.json();
            
            try {
            
              if (!respjson.parse.title) throw "!";
              
              if (!window.profanity(respjson.parse.title)) {
                document.getElementById("wiki-article").innerHTML = window.escapeHtml(match[1]);
                document.getElementById("wiki-example").style.display = "block";
                document.getElementById("wiki-invalid").style.display = "none";
                document.getElementById("wiki-notfound").style.display = "none";
                document.getElementById("wiki-required").style.display = "none";
                
                document.getElementById("submit-event").disabled = false;
              } else {
                
                document.getElementById("wiki-example").style.display = "none";
                document.getElementById("wiki-invalid").style.display = "block";
                document.getElementById("wiki-notfound").style.display = "none";
                document.getElementById("wiki-required").style.display = "none";
                document.getElementById("submit-event").disabled = true;
              }
              
            } catch(ex) {
            
              document.getElementById("wiki-example").style.display = "none";
              document.getElementById("wiki-invalid").style.display = "none";
              document.getElementById("wiki-notfound").style.display = "block";
              document.getElementById("wiki-required").style.display = "none";
              document.getElementById("submit-event").disabled = true;
           }
            
          } else { // show invalid
            
            document.getElementById("wiki-example").style.display = "none";
            document.getElementById("wiki-invalid").style.display = "block";
            document.getElementById("wiki-notfound").style.display = "none";
            document.getElementById("wiki-required").style.display = "none";
            document.getElementById("submit-event").disabled = true;
            
          }

        } else { // invalid wiki link
        
            document.getElementById("wiki-example").style.display = "none";
            document.getElementById("wiki-invalid").style.display = "none";
            document.getElementById("wiki-notfound").style.display = "none";
            document.getElementById("wiki-required").style.display = "block";
            document.getElementById("submit-event").disabled = true;
        
        }

      }
    
    
    
  </script>
  
</ons-page>
