<ons-page>

  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button onclick="window.dapp.open_menu()">
        <ons-icon icon="fa-ellipsis-v"></ons-icon><ons-if platform="windows other">&nbsp;Menu</ons-if>
      </ons-toolbar-button>
    </div>
    <div class="center" style="text-align:center;">
      World Billboards
      <ons-toolbar-button id="share-btn" onclick="window.dapp.share()">
        <ons-icon icon="fa-share"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="right">
      <ons-toolbar-button onclick="window.dapp.open_search()">
        <ons-if platform="windows other">Search&nbsp;</ons-if><ons-icon icon="md-search"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="content">
    <ons-progress-bar indeterminate id="progress-bar" style="z-index: 100000;"></ons-progress-bar>
    <div id = "map" style = "width: 100%; height: 99%;">
  </div>
   
  <ons-bottom-toolbar style="z-index:1000;">
    <ons-row style="line-height:40px;">
      <ons-col width="100%">
        <ons-toolbar-button id="share-btn" onclick="dapp.showConnection()">
          Connect Wallet
        </ons-toolbar-button>
        Syncroning data...        
      </ons-col>            
   </ons-row>
  </ons-bottom-toolbar>

  <ons-speed-dial position="bottom right" direction="up" style="z-index:1100;">
    <ons-fab>
      <ons-icon icon="fa-map-location"></ons-icon>
    </ons-fab>
    <ons-speed-dial-item>
      <ons-icon icon="md-twitter"></ons-icon>
    </ons-speed-dial-item>
    <ons-speed-dial-item>
      <ons-icon icon="md-facebook"></ons-icon>
    </ons-speed-dial-item>
    <ons-speed-dial-item>
      <ons-icon icon="md-google-plus"></ons-icon>
    </ons-speed-dial-item>
  </ons-speed-dial> 

  <div class="toolbar--material bottom-corner">

    <img alt="ONE" width="22px" draggable="false" src="img/harmony-one-icon.svg"> 0.00000 B 0.00000 CLAIM RIGHTS: 0000 
  </div>

</ons-page>
