<ons-page id="NFTs-Marketplace">
  <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">Billboards NFTs Marketplace</div>
  </ons-toolbar>
  
  <ons-pull-hook id="pull-hook">
     Load more 50 NFTs in marketplace
  </ons-pull-hook>

  <div class="nft-container" id="nft-container">    

  </div>
  
  <script>
    
    var current_item = 1;
    var loading = false;
    
    var applied_chart = undefined;
    
    document.querySelector('ons-back-button').onClick = function(event) {
      window.dapp.load('templates/global.html')
    };
    
    var query_marketplace = async function(cur_item, done) {
      
        if (loading) return;
      
        const applied = await localforage.getItem('applied');      
        if (!isNaN(applied)) {if (Number(applied)>0){
          let extras = window.dapp.get_nft_attr(applied);    
          function map(x, in_min, in_max, out_min, out_max) {
            return Math.floor((x - in_min) * (out_max - out_min) / (in_max - in_min) + out_min);
          }
          applied_chart = {
              label: 'Applied NFT',
              data: [map(extras.extra_coupon_expires,1*3*60,16*3*60,0,100),
                     map(extras.extra_event_expires,1,16,0,100), 
                     map(extras.extra_collectable,0,15,0,100)],
              fill: true,
              backgroundColor: 'rgba(200, 254, 200, 02)',
              borderColor: 'rgb(200, 254, 200)',
              pointBackgroundColor: 'rgb(200, 254, 200)',
              pointBorderColor: '#fff',
              pointHoverBackgroundColor: '#fff',
              pointHoverBorderColor: 'rgb(200, 254, 200)'
            }
        }else {applied_chart = undefined}} else {applied_chart = undefined};

        loading = true;

        const marketplace_list = await aergo.queryContract(window.dapp.contract.get_marketplace_list(cur_item.toString()));
        done();
      
        if (marketplace_list.length>0) {

            for(i=0;i<marketplace_list.length;i++) {
              window.dapp.create_nft_div(marketplace_list[i], document.getElementById("nft-container"), applied_chart);
            }          

            current_item += 50;
         }

        loading = false;     

    }
    
    ons.getScriptPage().onInit = function() {
      
       alert("init");
     
      var pullHook = document.getElementById('pull-hook');

      pullHook.addEventListener('changestate', function(event) {
        var message = '';

        switch (event.state) {
          case 'initial':
            message = loading?"Loading marketplace items":'Load more 50 NFTs in marketplace';
            break;
          case 'preaction':
            message = loading?"Loading marketplace items":'Release';
            break;
          case 'action':
            message = loading?"Loading marketplace items":'Loading...';
            break;
        }

        pullHook.innerHTML = message;
      });

      pullHook.onAction = function(done) {
        query_marketplace(current_item, done);
      };
      
    };
    
    ons.getScriptPage().onShow = function() { // load first elements in marketplace
      alert("show");
      query_marketplace(current_item, function(){});         
    }
    
    ons.getScriptPage().onHide = function() {
       alert("hide");
      // requires to delete all cards?      
    }
    
    
  </script>
  
</ons-page>
