<ons-page id="NFTs-Marketplace">
  <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center" id="marketplace_title">Billboards NFTs Marketplace</div>
    <div class="right">
      <ons-toolbar-button onclick="search_nft();"><ons-icon icon="md-search"></ons-icon></ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="content nft-container" id="nft-container">    
    
    <p style="margin:10px;">
         <ons-button disabled="true" onclick="query_marketplace(current_item)" id="marketplace_loadmore_button">Load More</ons-button><br/><br/>
    </p>    

  </div>
  
    <ons-bottom-toolbar style="z-index:1000;" id="bottom">
      <ons-row style="line-height:40px;">
        <ons-col width="100%">
          <ons-toolbar-button onclick="window.dapp.load('templates/global.html');dapp.interfaceConnection()">
            
          </ons-toolbar-button>
          <span data-placeholder=""><span>
        </ons-col>            
     </ons-row>
    </ons-bottom-toolbar>

    <div class="toolbar--material bottom-corner" id="claimable" data-placeholder="..."></div>
  
  <script>
    
    var current_item = 1;
    var loading = false;
    
    document.querySelector('ons-back-button').onClick = function(event) {
      window.dapp.load('templates/global.html')
    };
    
    var applied_chart = async function () {
         const applied = await localforage.getItem('applied');      
         if (!isNaN(applied)) {if (Number(applied)>0){
          let extras = window.dapp.get_nft_attr(applied);    
          function map(x, in_min, in_max, out_min, out_max) {
            return Math.floor((x - in_min) * (out_max - out_min) / (in_max - in_min) + out_min);
          }
          return {
              label: 'Applied NFT #'+applied,
              data: [map(extras.extra_coupon_expires,1*3*60,16*3*60,0,100),
                     map(extras.extra_event_expires,1,16,0,100), 
                     map(extras.extra_collectable,0,15,0,100)],
              fill: true,
              backgroundColor: 'rgba(200, 254, 200, 02)',
              borderColor: 'rgb(200, 254, 200)',
              pointBackgroundColor: 'rgb(200, 254, 200)',
              pointBorderColor: '#fff',
              pointHoverBackgroundColor: '#fff',
              pointHoverBorderColor: 'rgb(200, 254, 200)'
            }
        }else {return undefined}} else {return undefined};
    }
    
    var query_marketplace = async function(cur_item) {
      
        if (loading) return;       
        loading = true;
      
        if (document.getElementById("marketplace_loadmore_button")) {
          document.getElementById("marketplace_loadmore_button").setAttribute("disabled",true);
          document.getElementById("marketplace_loadmore_button").innerHTML = "<ons-icon size='20px' spin icon='md-spinner'></ons-icon>&nbsp;Please wait, loading...";
        }
          
        const marketplace_list = await aergo.queryContract(window.dapp.contract.get_marketplace_list(cur_item.toString()));
      
        if (document.getElementById("nft-container")) {
        if (marketplace_list.length>0) {

            for(i=0;i<marketplace_list.length;i++) {
              window.dapp.create_nft_div(marketplace_list[i], document.getElementById("nft-container"), applied_chart());
            }          

            current_item += 50;

            if (document.getElementById("marketplace_loadmore_button")) {
              document.getElementById("marketplace_loadmore_button").removeAttribute("disabled");     
              document.getElementById("marketplace_loadmore_button").innerHTML = "Load More";
            }
            
         } else  {
           if (document.getElementById("marketplace_loadmore_button")) {
              document.getElementById("marketplace_loadmore_button").innerHTML = "Sorry, no more items in marketplace!";
           }
         }
          
        }

      loading = false;        

    }   
    
    ons.getScriptPage().onShow = function() { // load first elements in marketplace
      query_marketplace(current_item);         
    }
    
    ons.getScriptPage().onHide = function() {
      current_item = 1;
      loading = false;
    }
    
    var search_nft = async function() {
      
      ons.notification.prompt('Enter the NFT #id number:', {
          cancelable: true,
          defaultValue: "",
          inputType: 'number',
          buttonLabels: ['Search']
       }).then(async function(input) {    
          if (input) {
              if(Number.isInteger(Number(input))) {if(Number(input)>0){
                  document.querySelector('ons-modal').show();                
                  const nft_table = await aergo.queryContract(window.dapp.contract.get_NFT_table(input.toString()));                
                  try {
                    window.dapp.create_nft_div(nft_table.id_string, document.getElementById("nft-container"), applied_chart()).scrollIntoView();                    
                    document.querySelector('ons-modal').hide();                      
                    ons.notification.toast('SUCCESS! NFT found and added to the end of the list!', { timeout: 5000, animation: 'fall' });   
                    return;
                  } catch(ex) {}
                  document.querySelector('ons-modal').hide(); 
                  ons.notification.toast('FAIL! NFT not found!', { timeout: 5000, animation: 'ascend' });
                  return;
              }}
              ons.notification.alert('Invalid NFT id, the operation was cancelled.');
          }
       });
      
    }
    
    
  </script>
  
</ons-page>
